.wrapper {
  overflow: auto;
}

.row-0 td {
  background: rgb(238, 238, 238);
}

.pm-row td {
  border-bottom: 2px solid black;
}

td.weekBoundary {
  border-right: 2px solid black;
}

td.invalid {
  color: darkred;
}

td.week-0 {
  background: lightgreen;
}

td.week-1 {
  background: white;
}

.pm-row th {
  border-bottom: 2px solid black;
}

th,
td {
  border-right: 1px solid rgb(211, 211, 211);
}

.q-table th,
.q-table td {
  text-align: center;
}

$red-1: #ffebee !default;
$red-2: #ffcdd2 !default;
$red-3: #ef9a9a !default;
$red-4: #e57373 !default;
$green-1: #e8f5e9 !default;
$green-2: #c8e6c9 !default;
$green-3: #a5d6a7 !default;
$green-4: #81c784 !default;
$yellow-1: #fffde7 !default;
$yellow-2: #fff9c4 !default;
$yellow-3: #fff59d !default;
$yellow-4: #fff176 !default;
$orange-1: #fff3e0 !default;
$orange-2: #ffe0b2 !default;
$orange-3: #ffcc80 !default;
$orange-4: #ffb74d !default;

.sticky-column-table {
  height: calc(100vh - 50px - 48px);
  cursor: default;
  thead {
    tr:first-child,
    tr:nth-child(2) {
      th {
        position: sticky;
        /* higher than z-index for td below */
        z-index: 2;
        /* bg color is important; just specify one */
        background: $yellow-4;
      }
    }
    tr:first-child th {
      top: 0;
      height: 30px;
      background: $green-4;
    }
    tr:nth-child(2) th {
      top: 30px;
      background: $red-4;
    }

    tr:first-child,
    tr:nth-child(2) {
      th:first-child,
      th:nth-child(2) {
        z-index: 5;
      }
    }
  }

  tbody {
    cursor: pointer;
    td:first-child,
    td:nth-child(2) {
      z-index: 2;
      background: $orange-2;
      position: sticky;
    }

    td:first-child,
    th:first-child {
      left: 0;
      min-width: 62px;
      font-weight: bolder;
      border-right-color: darkgrey;
    }

    td:nth-child(2),
    th:nth-child(2) {
      left: 62px;
    }

    tr:nth-child(4n),
    tr:nth-child(4n-1) {
      background: rgb(255, 255, 255);
    }
    tr:nth-child(4n-2),
    tr:nth-child(4n-3) {
      background: rgb(238, 238, 238);
    }
  }
}

.tdtooltip p {
  margin-bottom: 0px;
  background: red !important;
}
.tdtooltip {
  background: blue !important;
}
.holiday {
  background: yellow !important;
}

.note {
  position: relative;
}
.note:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: unset;
  width: 0;
  height: 0;
  display: block;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid #f00;
}
